

/** HEADER **/
.container-fluid {
  border: 2px solid black;
  padding-left: 0em;
  padding-right: 0em;
}
p {
  margin-left: 1em;
  margin-right: 1em;
}
 section {
  color: black;
  background-color: #BBBCAE ;
  margin-left: 1em;
  margin-right: 1em;
}
h2, h3 {
  text-align: center;
}
#header-nav {
  background-color: #AEAF9D  ;
  border-radius: 0;
  border: 0;
  margin-bottom: 0em;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  /*vertical-align: middle;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0em;
  margin-left: 1px;
  margin-right: 1px;
}
#nav-list a {
  color: black;
  text-align: center;
border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
 float: right;
  margin-top: 1.5em;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: @screen-lg-min) {
}

/********** Medium devices only **********/
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}
/********** Small devices only **********/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
/********** Extra small devices only **********/
@media (max-width: 768px) {
  /* Header */
  .container-fluid {
    padding-left: 0em;
    padding-right: 0em;
   
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  
  /* End Header */

  section {
    margin-left: 3em;
    margin-right: 3em;
  }
}